<br>
<br>
<div class="body animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3>&nbsp;&nbsp;Detalle Hoja de Campo</h3>
            </div>
            <div class="col">
                <a [routerLink]="['/hojacampo']" routerLinkActive="router-link-active"  class="edit btn btn-danger" data-toggle="modal">Regresar</a>
            </div>
        </div>
        <div class="card my-3">
            <br>
            <form>
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col">
                            <label for="sel1"><b>Dia:</b></label>
                            <select class="form-control" id="sel1" formControlName="dias_det">
                                <option>Lunes</option>
                                <option>Martes</option>
                                <option>Miercoles</option>
                                <option>Jueves</option>
                                <option>Viernes</option>
                                <option>Sábado</option>
                                <option>Domingo</option>
                            </select>
                        </div>
                        <div class="col">
                            <label><b>Descripcion:</b></label>
                            <input type="text" class="form-control" required formControlName="des_det">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Preparación del suelo</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Preparación de la semilla</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Siembra</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Resiembra</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Deshierve</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Aporque</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Limite de Deshoje</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Elaboración de abosoli</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Aplicación de abono</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Control de Plaga</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Control de enfermedad</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Mantenimiento de Finca</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Cosecha</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Acarreo de transporte</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Descarga</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Calibración de Mantenimiento</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Molienda</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Filtrado</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Melada</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Clarificada</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Punteo</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Batido</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Tamizado</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Empacado</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Codificado</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Limite de módulo</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Desinfección de módulo</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Registro de venta</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Llenado de Contabilidad</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Capacitación</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Comercialización</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Subjornal</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Costo de jornada</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Costo de mano de obra</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Mano de obra familiar</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Total de mano de obra</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Combustible</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Transporte</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Mantenimiento</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Cana</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Total de labores de cultivo</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Trapiche y Horno</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Tina y Utensillos</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Infraestructura</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                        <div class="col">
                            <label><b>Total de Equipo y Maquinaria</b></label>
                            <input type="text" class="form-control" required formControlName="">
                        </div>
                    </div>
                </div>
                <div class="container-fluid modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>
