<app-navbar></app-navbar>

<div id="addProductos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="was-validated" [formGroup]="productosForm" (ngSubmit)="enviar(productosForm.value)">

				<div class="modal-header">
					<h4 class="modal-title">Nuevo Producto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-9">
							<div class="form-group">
								<label for="sel1"><b>Categoría:</b></label>
								<select class="custom-select" id="sel1" formControlName="id_cat" required>
									<option selected disabled>Escoja una categoría</option>
									<option *ngFor="let categoria of categorias" [value]="categoria._id">
										{{categoria.nombre}}</option>
								</select>
								<div class="invalid-feedback" role="alert" *ngIf="errorCtr.id_cat.errors?.required">
									Campo requerido.
								</div>
							</div>
						</div>
						<div class="form-group col-md-3"><br>
							<a class="btn btn-success" data-toggle="modal" href="#addCategoria"><i
									class="fas fa-plus-square"></i>&nbsp;&nbsp;<span>Agregar</span></a>
						</div>
					</div>
					<div class="form-group">
						<label for="sel1"><b>Asociación:</b></label>
						<select class="custom-select" id="sel1" formControlName="aso_ps" required>
							<option selected disabled>Escoja una asociacion</option>
							<option *ngFor="let asociacion of asociaciones" [value]="asociacion._id">
								{{asociacion.nombre_aso}}</option>
						</select>					
						<div class="invalid-feedback" role="alert" *ngIf="productosForm.get('asociacion._id')">
							Campo requerido
						</div>
					</div>
					<!--<div class="form-group">
								<label for="sel1"><b>Asociación:</b></label>
								<select class="custom-select" id="sel1" formControlName="nombre_aso" required>
									<option>Escoja una asociación</option>
									<option *ngFor="let asociacion of asociaciones">{{asociacion.nombre_aso}}</option>
								</select>
								<div class="invalid-feedback" role="alert" *ngIf="asociacionForm.get('nombre_aso').touched">
									Campo requerido
								</div>
							</div>-->

					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input type="text" class="form-control" required formControlName="nom_pro">
						<div class="invalid-feedback" role="alert" *ngIf="productosForm.get('nom_pro').touched">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>Detalle:</b></label>
						<input type="text" class="form-control" formControlName="desc_pro">
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label><b>Unidades:</b></label>
							<input type="text" class="form-control" required formControlName="uni_pro">
							<div class="invalid-feedback" role="alert" *ngIf="productosForm.get('uni_pro').touched">
								Campo requerido
							</div>
						</div>
						<div class="form-group col-md-4">
							<label><b>Stock:</b></label>
							<input type="text" class="form-control" formControlName="sto_pro">
						</div>
						<div class="form-group col-md-4">
							<label><b>Precio:</b></label>
							<input type="text" class="form-control" required formControlName="pvp_pro">
							<div class="invalid-feedback" role="alert" *ngIf="productosForm.get('pvp_pro').touched">
								Campo requerido
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="addCategoria" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="was-validated" [formGroup]="categoriaForm" (ngSubmit)="enviarCategoria(categoriaForm.value)">

				<div class="modal-header">
					<h4 class="modal-title">Nueva Categoría</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input type="text" class="form-control" required formControlName="nombre">
						<div class="invalid-feedback" role="alert" *ngIf="categoriaForm.get('nombre').touched">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>Descripción:</b></label>
						<input type="text" class="form-control" formControlName="descripcion">
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="detalleProductos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card">
				<div class="card-body">
					<div class="modal-header">
						<h4 class="modal-title">Detalle Producto</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div><br>
					<form *ngIf="producto">
						Categoría: {{producto.id_cat.nombre.toString()}}<br>
						Nombre: {{producto.nom_pro}}<br>
						Asociacion: {{producto.aso_ps.nombre_aso.toString()}}<br>
						Descripición: {{producto.desc_pro}}<br>
						Unidades: {{producto.uni_pro}}<br>
						Stock: {{producto.sto_pro}}<br>
						Precio: {{producto.pvp_pro}}<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div id="editProductos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="onEdit( f )" #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">Nuevo Producto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input [(ngModel)]="productoUpdate.nom_pro" type="text" class="form-control" required name="nom_pro">
					</div>
					<div class="form-group">
            <label><b>Detalle:</b></label>
            <input [(ngModel)]="productoUpdate.desc_pro" type="text" class="form-control" name="desc_pro">
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
						<label><b>Unidades:</b></label>
						<input [(ngModel)]="productoUpdate.uni_pro" type="text" class="form-control" required name="uni_pro">
					</div>
					<div class="form-group col-md-4">
						<label><b>Stock:</b></label>
						<input [(ngModel)]="productoUpdate.sto_pro" type="text" class="form-control" name="sto_pro">
          </div>
          <div class="form-group col-md-4">
						<label><b>Precio:</b></label>
						<input [(ngModel)]="productoUpdate.pvp_pro" type="text" class="form-control" required name="uni_pro">
		  </div>
					</div>
          <div class="form-row">
			<div class="form-group col-md-6">
						<label><b>Fecha elaboración:</b></label>
						<input [(ngModel)]="productoUpdate.fecha_ela_pro" type="date" class="form-control" required name="fecha_ela_pro">
          </div>
          <div class="form-group col-md-6">
						<label><b>Fecha caducidad:</b></label>
						<input [(ngModel)]="productoUpdate.fecha_cad_pro" type="date" class="form-control" required name="fecha_cad_pro">
		  </div>
		  </div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default"  data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>-->

<div id="deleteProductos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="delete()">
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Producto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>¿Esta seguro que quieres eliminar?</p>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="body animated fadeIn">
	<div class="container-fluid">
		<div>
			<br>
			<div class="row">
				<h3 class="col-md-10" *ngIf="asociacion">&nbsp;&nbsp;Productos <!--{{asociacion.nombre_aso}}--></h3>
				<a class="btn btn-success" data-toggle="modal" href="#addProductos"><i
						class="fas fa-plus-square"></i>&nbsp;&nbsp;<span>Agregar</span></a>
			</div>
			<div class="card my-3">
				<br>
				<div class="container-fluid table-responsive" aria-label="Page navigation example">
					<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Asociacion</th>
								<th scope="col">Descripción</th>
								<th scope="col">Precio</th>
								<th scope="col">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let producto of productos">
								<td>{{producto.nom_pro}}</td>
								<td>{{producto.aso_ps.nombre_aso.toString()}}</td>
								<td>{{producto.desc_pro}}</td>
								<td>{{producto.pvp_pro}}</td>
								<td>
									<button type="button" class="btn btn-outline-primary" href="#detalleProductos"
										data-toggle="modal" (click)="onClick(producto)">Detalle</button>&nbsp;
									<!--<button type="button" class="btn btn-outline-warning" href="#editProductos" data-toggle="modal" (click)="openModalActualizar(producto._id)"><i class="fas fa-edit"></i></button>&nbsp;-->
									<button type="button" class="btn btn-outline-danger" href="#deleteProductos"
										data-toggle="modal" (click)="openModalActualizar(producto._id)"><i
											class="far fa-trash-alt"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>