<div id="editUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onEdit( f )" #f="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                        <label for="sel1"><b>Rol:</b></label>
                        <select [(ngModel)]="usuarioUpdate.role"  class="form-control" id="sel1" name="role">
                            <option>ADMIN_ROLE</option>
                            <option>SOCIO_ROLE</option>
                            <option>CLIENTE_ROLE</option>
                        </select>
                    </div >
                    <div class="col">
                        <label for="sel1"><b>Asociación:</b></label>
                        <select  [(ngModel)]="usuarioUpdate.id_asociacion" class="form-control" id="sel1"  name="id_soc">
                            <option *ngFor="let asociacion of asociaciones" [value]="asociacion._id">{{asociacion.nombre_aso}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Nombre:</b></label>
                            <input [(ngModel)]="usuarioUpdate.nombre" type="text" class="form-control" required name="nombre">
                        </div>
                        <div class="col">
                            <label><b>Apellido:</b></label>
                            <input [(ngModel)]="usuarioUpdate.apellido" type="text" class="form-control" required name="apellido">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Teléfono:</b></label>
                            <input [(ngModel)]="usuarioUpdate.tlfc" type="text" class="form-control" required name="tlfc">
                        </div>
                        <div class="col">
                            <label><b>Celular:</b></label>
                            <input [(ngModel)]="usuarioUpdate.tlfm" type="text" class="form-control" required name="tlfm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Parroquia:</b></label>
                            <input [(ngModel)]="usuarioUpdate.parroquia" type="text" class="form-control" name="parroquia">
                        </div>
                        <div class="col">
                            <label><b>Sector:</b></label>
                            <input [(ngModel)]="usuarioUpdate.sector" type="text" class="form-control" name="sector">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label><b>Barrio:</b></label>
                            <input [(ngModel)]="usuarioUpdate.barrio" type="text" class="form-control" name="barrio">
                        </div>
                        <div class="col">
                            <label><b>Hectáreas:</b></label>
                            <input [(ngModel)]="usuarioUpdate.hectareas" type="text" class="form-control" name="hectareas">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Actualizar">
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/users']">Usuarios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="navegacionProductos">Productos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pedido']">Pedido</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/maquinaria']">Maquinaria</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/capacitacion']">Capacitación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/reunion']">Reunión</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/asociacion']">Asociación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/directiva']">Directiva</a>
            </li>
        </ul>
    </div>
    <!--button class="btn btn-outline-light nav-item-righ" href="#editUser" data-toggle="modal"><i class="far fa-user"></i></button>&nbsp;-->
    <button class="btn btn-outline-light nav-item-righ" (click)="salir()">Cerrar Sesión</button>
</nav>